name: CI Demo

on:
  push:
    branches: [ "main" ]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Show system info
        run: |
          echo "Hello from GitHub"
          uname -a
          pwd
          ls -la
